<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Cuentas del usuario {{userid}}</h2>
    <h3>IBAN: {{iban}}</h3>
    <h3>Saldo: {{balance}}</h3>

    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"></iron-ajax>

<!--    <input type="text" value="{{first_name::input}}"/> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasUsuario extends Polymer.Element {
      static get is() { return 'cuentas-usuario'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, userid: {
            type: Number
          }, balance: {
            type: Number
          }
        };
      }
      showData(data){
          console.log("showData");
          console.log(data.detail.response[0]);
          this.iban = data.detail.response[0].iban;
          this.userid = data.detail.response[0].userid;
          this.balance = data.detail.response[0].balance;
      }
    }

    window.customElements.define(CuentasUsuario.is, CuentasUsuario);
  </script>
</dom-module>
